.btn {
  &-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: $brand-primary-hover;
      border-color: $brand-primary;
    }
  }
}
