/**
*   Global classes
**/
.resultsList {
  padding-top: 50px;
}

.clickable {
  cursor: pointer;
}

/**
*   General page styles
**/

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

main {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
